In [1]:
import pandas as pd
import numpy as np
import csv
import math

In [2]:
df = pd.read_csv('./data/beam_23.csv')
df

,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,...,0.1014,0.1015,0.1016,0.1017,0.1018,0.1019,0.1020,0.1021,0.1022,0.1023
0,50,41,57,53,43,39,45,55,39,43,...,47,51,46,46,42,53,59,46,31,53
1,45,52,50,58,51,70,62,47,52,54,...,60,51,56,57,54,52,59,57,55,56
2,60,65,56,66,63,57,65,64,63,66,...,57,58,63,59,65,54,64,57,56,52
3,64,49,60,65,52,59,51,63,58,66,...,65,60,56,61,63,55,55,63,62,49
4,53,58,53,44,59,55,48,62,47,58,...,50,55,71,51,65,54,52,51,55,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
538,64,48,48,45,64,60,60,58,56,54,...,66,58,43,55,51,56,63,61,55,54
539,65,41,54,37,51,48,44,51,61,59,...,54,59,39,51,57,57,54,61,56,52
540,54,58,51,45,60,35,45,48,40,47,...,56,54,56,43,44,51,45,53,51,51
541,40,56,44,48,58,64,55,52,46,59,...,56,52,55,50,61,57,55,58,57,49
542,66,51,57,66,65,62,49,52,60,63,...,50,39,51,59,59,46,54,64,50,66

In [3]:
#maximum
max_v = df.max().max()
max_v

#Change column names
len_num = len(df.columns)
v_list = list(range(0, len_num))
df.columns=v_list
df

,0,1,2,3,4,5,6,7,8,9,...,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023
0,50,41,57,53,43,39,45,55,39,43,...,47,51,46,46,42,53,59,46,31,53
1,45,52,50,58,51,70,62,47,52,54,...,60,51,56,57,54,52,59,57,55,56
2,60,65,56,66,63,57,65,64,63,66,...,57,58,63,59,65,54,64,57,56,52
3,64,49,60,65,52,59,51,63,58,66,...,65,60,56,61,63,55,55,63,62,49
4,53,58,53,44,59,55,48,62,47,58,...,50,55,71,51,65,54,52,51,55,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
538,64,48,48,45,64,60,60,58,56,54,...,66,58,43,55,51,56,63,61,55,54
539,65,41,54,37,51,48,44,51,61,59,...,54,59,39,51,57,57,54,61,56,52
540,54,58,51,45,60,35,45,48,40,47,...,56,54,56,43,44,51,45,53,51,51
541,40,56,44,48,58,64,55,52,46,59,...,56,52,55,50,61,57,55,58,57,49
542,66,51,57,66,65,62,49,52,60,63,...,50,39,51,59,59,46,54,64,50,66

In [4]:
#Put the first line in the background
df_t = df.T
mean_val = df_t[0].mean()
mean_val

54.181640625

In [5]:
#Find the column containing the largest value
col_des = df.describe()
col_max = col_des.T
a = col_max["max"].idxmax()

In [6]:
df_max = df[a]
df_max = pd.DataFrame(df_max)
df_max

     854
0     57
1     57
2     59
3     72
4     59
..   ...
538   66
539   47
540   59
541   52
542   56

[543 rows x 1 columns]

In [7]:
df_max.columns=["strength"]
df_max["y_pos"] = list(range(0, len(df_max)))
#Pixel size 5.5Î¼m
df_max["width"] = df_max["y_pos"] * 0.0055 *2
df_max["relative_intensity"] = df_max["strength"]/max_v

In [8]:
df_max

     strength  y_pos  width  relative_intensity
0          57      0  0.000            0.019669
1          57      1  0.011            0.019669
2          59      2  0.022            0.020359
3          72      3  0.033            0.024845
4          59      4  0.044            0.020359
..        ...    ...    ...                 ...
538        66    538  5.918            0.022774
539        47    539  5.929            0.016218
540        59    540  5.940            0.020359
541        52    541  5.951            0.017943
542        56    542  5.962            0.019324

[543 rows x 4 columns]

In [9]:
#Calculate laser diameter
df_cal = df_max[df_max["relative_intensity"]>= (1/math.exp(2))]
laser_rad = len(df_cal)*0.0055 *2
laser_rad

1.639

In [10]:
df_max.to_csv("./data/df_max.csv", sep=",")